/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set Up Custom Properties */

::root {
    /* UI colors */
    --bg-color: #F5F4EE;
    --primary-color: #1A603B;
    --secondary-color: #44A252;
    --hover-color: #9CD0A2;
}